<%- include("../includes/header.ejs")%>
        <!--Intro page start-->
        <section>
          <div class="container">
              <!-- top navbar start  -->
              <% if(successMsg && successMsg.length){%>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                   <%=successMsg%>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <%}%>
                <% if(errorMsg && errorMsg.length){%>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                       <%=errorMsg%>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <%}%>
                <!-- navbar end  -->
              <div class="row mt-5">
                <!-- <marquee onmouseenter="stop()" onmouseout="start()"><img src="img/circle red.png" class="img-fluid me-2" height="20px" width="20px"/>Our website is under maintenance to serve you better. Stay tuned! Some feature may not work properly.</marquee> -->
                  <!-- Left section Description start -->
                  <div class="col-sm-8 mt-3" data-aos="fade-right">
                      <h2>Hi, Welcome To</h2>
                      <h1 class="fw-bolder">EduShine Classes</h1>
                      <h1>You can Download <b class="commoncolor auto-typing"></b></h1>
                      <p>EduShine Classes is a dedicated platform where learning meets simplicity. Born out of the vision to support thousands of students, we aim to provide easy access to AKTU notes for all semesters and branches. Our mission is to save your time, keep you focused, and help you achieve academic excellence without any hassle.</p>
                      <div class="col-4">
                          <div class="social-icon d-flex mb-2">
                              <div class="socialicon me-2">
                                  <a href="https://www.youtube.com/@rrsimtclasses" target="_blank" ><i class="fa-brands fa-youtube fs-2 commoncolor"></i></a>
                              </div>
                              <div class="socialicon me-2">
                                  <a href="https://telegram.me/rrsimtclasses" target="_blank"><i class="fa-brands fa-telegram fs-2 commoncolor"></i></a>
                              </div>
                              <div class="socialicon">
                                  <a href="https://chat.whatsapp.com/ErWX471sOH1GQ8C1Wl6Pb3" target="_blank"><i class="fa-brands fa-whatsapp fs-2 commoncolor"></i></a>
                              </div>
                          </div>
                          <a href="https://www.youtube.com/@rrsimtclasses" target="_blank" class="nav-link rounded-2 mybtn text-light text-center">Visit Our Channel</a>
                          
                      </div>
                  </div>
                  <!-- left section description end -->
                  <!-- right section photo start -->
                  <div class="col-sm-4">
                    <img src="img/channellogo.png" alt="websitelogo" class="img-fluid"/>
                  </div>
                  <!-- right section end -->
              </div>
                <hr>
          </div>
      </section>
      <!--Intro page end -->
      <!-- Popular Videos Section Start -->
      <section>
          <div class="container">
              <h2 class="text-center">Popular <span class="commoncolor">Videos</span></h2>
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                    <% for(let i =0;i<data.length;i++){%>
                      <div class="col">
                        <div class="card h-100 border border-0 rounded-5">
                          <img src="<%=data[i].playlistImage.url%>" class="card-img-top p-3 rounded-5" alt="computer graphics">
                          <div class="card-body">
                            <h5 class="card-title"><%= data[i].playlistName%></h5>
                            <p class="card-text"><%= data[i].playlistDescription%></p>
                            <a href="<%=data[i].playlistURL%>" class="rounded-pill border border-0 text-light p-2 mybtn">Watch Now</a>
                          </div> 
                        </div>
                      </div>
                      <%}%>
                </div>
          </div>
      </section>
      <!-- Popular Videos Section End -->
      <hr/>
      <!-- Students Feedback Start -->
      <section>
        <div class="container py-5">
            <h4 class="text-center mb-4">Testimonials</h4>
            <h1 class="text-center">Thousands of students</h1>
            <h1 class="text-center"><span style="color: red;">&#x2764;</span> RRSIMT</h1>
            <div class="row commentContainer">
              <!-- Testimonial 1 -->
            </div>
          </div>
      </section>
      <!-- Stduents Feedback End -->
      <hr/>
      <script>
        //Commment fetch from channel and show on site

    const api_key = "AIzaSyBFV78pYL06nJI-OMDKqyb72LtUZz6kOok";
    const channel_id = "UCa78JSaCAhXWYEiwuQx962Q";
    const commentDiv = document.querySelector(".commentContainer");

    async function fetchComments() {
      const url = `https://www.googleapis.com/youtube/v3/commentThreads?part=snippet&allThreadsRelatedToChannelId=${channel_id}&key=${api_key}`;
      try {
        const resp = await fetch(url);
        const data = await resp.json();
        console.log(data); 
        showComments(data.items);
      } catch (error) {
        console.error("Error fetching comments:", error);
      }
    }

    function showComments(comments) {
      comments.forEach(item => {
        const comment = item.snippet.topLevelComment.snippet;
        const author = comment.authorDisplayName;
        const text = comment.textDisplay;
        const profileURL = comment.authorProfileImageUrl;
        // console.log(profileURL);
        const date = new Date(comment.publishedAt).toLocaleDateString();

        const commentHTML = `
        <div class="col-md-4 mx-auto my-auto">
                <div class="shadow p-3 rounded-4">
                        <div class="author-info">
                            <div>
                                <img src="${profileURL}" alt="Author Image" class="rounded-pill">
                            </div>
                            <div>
                            <h5>${author}</h5>
                            <small>${text}</small>
                            </div>
                        </div>
                </div>
        </div>
        `;

        commentDiv.innerHTML += commentHTML;
      });
    }
    fetchComments()
      </script>
      <%- include("../includes/footer.ejs")%>
</body>
